
body{
    margin:0;
    font-family: 'VT323', monospace;
}


/* START OF MAIN SECTION ROCK PAPER SCISSORS  */
.gameName{
    text-align: center;
    font-size: 3.5rem;
    background-color: #222831;
    color:white;
    padding: 4rem 0;
   
    letter-spacing: 0.3rem;
    
}



/* END OF MAIN SECTION ROCK PAPER SCISSORS  */





/* START OF PLAY GAME SECTION   #393E46*/


#container {
    background-color: #393E46;
}

.gameResult {
    color:#00FFF5;
    text-align: center;
    font-size: 5rem;
    padding-TOP: 10rem;
    letter-spacing: 1.1rem;
}


.players{
    font-size: 2rem;
    padding-top: 6rem;
    text-align: center;
    
}

.player{
    display: inline-block;
    
}

#playerOne {
    margin-right: 20rem;
}

#playerTwo {
     margin-left: 20rem;
}


/* END OF PLAY GAME SECTION  */




